<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="seg.DemoViews"
   name="DemoViews Plug-in"
   version="1.0.0"
   provider-name=""
   class="seg.DemoViews.DemoViewsPlugin">

   <runtime>
      <library name="DemoViews.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="DemoViews Category"
            id="seg.DemoViews">
      </category>
      <view
            name="Responsibilities"
            icon="icons/progress_remall.gif"
            category="seg.DemoViews"
            class="seg.DemoViews.views.ResponsibilitiesView"
            id="seg.DemoViews.views.ResponsibilitiesView">
      </view>
      <view
            icon="icons/outline_co.gif"
            class="seg.DemoViews.views.UCMOutlineView"
            category="seg.DemoViews"
            name="UCMOutlineView"
            id="seg.DemoViews.views.UCMOutlineView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="seg.DemoViews.views.ResponsibilitiesView">
         </view>
         <view
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               id="seg.DemoViews.views.UCMOutlineView"/>
      </perspectiveExtension>
   </extension>

</plugin>
