<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.kermeta.debug.runConfiguration">
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_ARGUMENTS" value=""/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_CLASSQNAME" value="aoUrnToRam::Test::Main"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_FILENAME" value="/aoUrnToRam/test/Main.kmt"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_OPERATIONNAME" value="launchIwToRamTddTests"/>
<stringAttribute key="fr.irisa.triskell.kermeta.launching.KM_PROJECTNAME" value="aoUrnToRam"/>
<stringAttribute key="org.kermeta.debug.DEFAULT_PATH" value="/aoUrnToRam/test"/>
<stringAttribute key="process_factory_id" value="org.kermeta.debug.processFactory"/>
</launchConfiguration>
