<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/codeGen/src/aoUrnToRam/codegen/Jucm_OneFileWorkaround_Generator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aoUrnToRam.codegen.Jucm_OneFileWorkaround_Generator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="$ReplaceMe_seg.jUCMNav_RootPath$\seg.jUCMNav\src\seg\jUCMNav\emf\urn.ecore&#13;&#10;$ReplaceMe_seg.jUCMNav_RootPath$\seg.jUCMNav\src\seg\jUCMNav\emf\urncore.ecore&#13;&#10;$ReplaceMe_seg.jUCMNav_RootPath$\seg.jUCMNav\src\seg\jUCMNav\emf\ucm.ecore&#13;&#10;$ReplaceMe_seg.jUCMNav_RootPath$\seg.jUCMNav\src\seg\jUCMNav\emf\grl.ecore&#13;&#10;$ReplaceMe_output_RootPath$\aoUrnToRam\metamodel\jucm_OneFileWorkaround.ecore"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="codeGen"/>
</launchConfiguration>
