<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="seg.jUCMNav.URNExport">
		<exporter
            class="one2one.Convert"
            extension="csm"
            id="seg.jUCMNav.UCM2CSM"           
            name="UCM to CSM converter"
            useStream="true"/>
   </extension>
   <extension
         point="seg.jUCMNav.URNImport">
   </extension>
  
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
   </extension> <extension
         point="seg.jUCMNav.UseCaseMapExport">   
   </extension>

</plugin>
