<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="seg.jUCMNav.URNExport">
   </extension>
   <extension
         point="seg.jUCMNav.URNImport">
   </extension>
  
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
   </extension> <extension
         point="seg.jUCMNav.UseCaseMapExport">
      <exporter
            class="uCM2CSMV2.Converter"
            extension="csm"
            id="seg.jUCMNav.UCM2CSM "
            mode="model instance"
            name="UCM to CSM conversion plugin"
            useStream="true"/>
   </extension>

</plugin>
