<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="seg.jUCMNav.URNImport">
      <importer
            class="CSVLegislationImportWithKpiConversions"
            extension="csv"
            id="LegislationImportPlugin.importer1"
            importInSelectedFile="true"
            name="CSV Legislation Import with Kpi Conversions Loaded (*.csv)"
            useStream="false">
      </importer>
      <importer
            class="CSVLegislationImportWithNoKpiConversions"
            extension="csv"
            id="LegislationImportPlugin.importer2"
            importInSelectedFile="true"
            name="CSV Legislation Import with No Kpi Conversions Loaded (*.csv)"
            useStream="false">
      </importer>
   </extension>

</plugin>
